

@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');




:root{



    // Fonts
    --font-primary:  "Roboto", sans-serif;
    --font-secondary: "Roboto", sans-serif;
    --font-title: "Fjalla One", sans-serif;

    //Colors

    --primary-color: #032541;
    --secondary-color: #3F327A;
    --pink-color: #DB4886;
    --grey-color: #A9A9AE;
    --yellow-color: #FFCC46;
    --purple-color: #3F327A;
    --bg-gray-color: #D9D9D9;
   --light-blue-color: #E4E0FF;

}






